<h2>Got Noms?</h2>
<div class="row">

<div class="small-7 columns">
		


<p>No more spoiled Noms</p>
</div>

 <div class="small-1 columns">
    &nbsp;
</div>

<div class="small-4 columns">
	<div class="panel clearfix">
	<p>If you are a registered user </p> </br>
	<%= link_to "click here to login", login_path %>
	</div>
</div>