

<%= image_tag 'backgroud.jpg', id: "background-image"%>
<div class="row">
      <div class="small-12 columns" id="main_content">

<h2>Got Noms?</h2>

<p>No more spoiled Noms</p>

 <div class="small-1 columns">
    &nbsp;
</div>

<div class="small-4 columns">
	<div class="panel clearfix">
	<p>If you are a registered user </p> </br>
	<%= link_to "click here to login", login_path %>
	<p>If you are not registered </p> </br>
	<%= link_to "click here to register", signup_path %>
	</div>
</div>
</div>
</div>