<h2>About Got Noms?</h2>

<p> 
  Noms have feelings too! Happy when nommed, sad when abandoned, and excited when joined by new nom friends! Add noms to your virtual fridge-pantry hybrid! Your noms will text you when they are getting old and will expire soon.
  <br> <br>

 Some of your new noms may already be a bit older. Choose their level of happiness (excellent, ok, or bad) so they can tell you if they will be expiring sooner or later than the average nom. 

   <br> <br>
Want to eat your nom sooner? Just tell it how many days you'll come back for it! Or put in your desired nom-date!
</p>