<h2>About Got Noms?</h2>

<p> 
  Noms have feelings too! Happy when nommed, sad when abandoned, and excited when joined by new nom friends! Add noms to your virtual fridge-pantry hybrid. Your noms will text you when they are getting lonely and will expire soon. Some of your new noms may already be a bit lonely and sad. Choose their level of happiness (excellent, ok, or bad) so they can tell you if they will be expiring sooner or later than the average nom. Want to eat your nom sooner? Just tell it how many days you'll come back for it, but you'd better remember or it'll give you a chirp if you don't show up!
</p>