/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */

#homepage{

	text-align: center;
	top: 320px;
	border: 2px #000 hidden;
	border-radius: 25px;
	position: absolute;
	background: rgba(255,255,255,0.5);
	right: 200px;
	padding: 20px;
}
	
nav.top-bar {
	height: 60px;
	
}



#home{
	padding:30px;
	font-size: 100px;
	color:#33CC99;
	font-family: 'Lobster', cursive;
	text-shadow: 0px 0px 5px #fff;
	opacity:1;
}

#homeside{
	opacity: 1;
font-size: 20px;
color: #ffffff;
font-weight: 400;
}

#main_content{
	font-family: 'Ubuntu', sans-serif;
}

#background-image {
transition: .5s;
z-index: 0;
width: 100%;
opacity: 1;
height: 720px;
position: absolute;
}

#background-image:hover {
    opacity: 0.6;
}
